{% extends "base.html" %}

{% block title %}Projects | il_doc{% endblock %}

{% block projectsactive %}class="active"{% endblock %}

{% block content %} 
<h1>Projects</h1>
Programmini fatti in casa
{% if latest_project_list %}
	<table width="95%">
		{% for project in latest_project_list %}
			<tr>
				<td><h3>{{ project.title }}</h3></td>
				<td><img src="{{ project.image_link }}" alt="{{ project.title }}" /></td>				
			</tr>
			<tr>
				<td>{{ project.description }}</td>
				<td><a href="{{ project.download_link }}">Download</a> - <a href="{{ project.source_link }}">Sorgente</a></td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>Nessun progetto disponibile</p>
{% endif %}
{% endblock %}
