{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Ninja{% endblock %}

{% block ninjaactive %}class="active"{% endblock %}

{% block content %}
<div class="container">

	<h1>Aggiungi Ninja</h1>
	<form method="post" action=""	>
		{% csrf_token %}
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Nome *</label>
				<div class="col-md-2">{{ form.name }}</div>
				<label class="col-md-2 control-label">Cognome *</label>
				<div class="col-md-2">{{ form.surname }}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Data di nascita (gg/mm/aaaa)</label>
				<div class="col-md-2">{{ form.birthday }}</div>
				<label class="col-md-2 control-label">Manleva</label>
				<div class="col-md-2">{{ form.parentpermission }}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Email</label>
				<div class="col-md-2">{{ form.email }}</div>
				<label class="col-md-2 control-label">Cellulare</label>
				<div class="col-md-2">{{ form.cellphone }}</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Nome genitore</label>
				<div class="col-md-2">{{ form.parentname }}</div>
				<label class="col-md-2 control-label">Cognome genitore</label>
				<div class="col-md-2">{{ form.parentsurname }}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Email</label>
				<div class="col-md-2">{{ form.parentemail }}</div>
				<label class="col-md-2 control-label">Cellulare</label>
				<div class="col-md-2">{{ form.parentcellphone }}</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Livello</label>
				<div class="col-md-2">{{ form.level }}</div>
				<label class="col-md-2 control-label">Foto</label>
				<div class="col-md-2">{{ form.photo }}</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Note</label>
				<div class="col-md-6">{{ form.notes }}</div>
			</div>
		</div>
		<hr>
		<button type="submit" class="btn btn-primary">
			Aggiungi
		</button>
	</form>
</div>
<!-- /.container -->

{% endblock %}
