{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Mentor{% endblock %}

{% block mentoractive %}class="active"{% endblock %}

{% block content %}
<div class="container">

	<h1>Modifica Mentor</h1>
	<form method="post" action="">
		{% csrf_token %}
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Nome *</label>
				<div class="col-md-2">{{ form.name }}</div>
				<label class="col-md-2 control-label">Cognome *</label>
				<div class="col-md-2">{{ form.surname }}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Email</label>
				<div class="col-md-2">{{ form.email }}</div>
				<label class="col-md-2 control-label">Cellulare</label>
				<div class="col-md-2">{{ form.cellphone }}</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Note</label>
				<div class="col-md-6">{{ form.notes }}</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Note</label>
				<div class="col-md-6">{{ form.notes }}</div>
			</div>
		</div>
		<hr>
		<button type="submit" class="btn btn-primary">Modifica</button></form>
</div>
<!-- /.container -->

{% endblock %}
