{% load bootstrap3 %}
{% load staticfiles %}
<script src="{% static 'jquery-ui/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'jquery-ui/css/redmond/jquery-ui-1.10.4.custom.min.css' %}" />
<script src="{% static 'select2/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'select2/select2.css' %}"/>
<script>
    $(document).ready(function () {
        $('#id_participants, #id_mentors').select2({ width: '100%' });
    });

	$(function() {
		$("#id_pub_date").datepicker({
			changeMonth : true,
			changeYear : true,
			dateFormat: "dd/mm/yy"
		});
	});

	$("#checkNinja").click(function(){
	    if($("#checkNinja").is(':checked') ){
            $("#id_participants > option").prop("selected","selected");
            $("#id_participants").trigger("change");
        }else{
            $("#id_participants > option").removeAttr("selected");
            $("#id_participants").trigger("change");
        }
    });

    $("#checkMentor").click(function(){
        if($("#checkMentor").is(':checked') ){
            $("#id_mentors > option").prop("selected","selected");
            $("#id_mentors").trigger("change");
        }else{
            $("#id_mentors > option").removeAttr("selected");
             $("#id_mentors").trigger("change");
         }
    });

</script>
<style>
div.ui-datepicker {
    font-size: 10px;
    color: #222222;
}
.ui-widget-header {
    color: #222222;
}
</style>

<div class="container">

	<h1>{{ eventformtitle }}</h1>
	<form method="post" action="">
		{% csrf_token %}
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Titolo *</label>
				<div class="col-md-2">{{ form.title }}</div>
				<label class="col-md-2 control-label">Data Evento *</label>
				<div class="col-md-2">{{ form.pub_date }}</div>
			</div>
		</div>
        <hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Attività svolte</label>
				<div class="col-md-6">{{ form.activity }}</div>
			</div>
		</div>
        <hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Partecipanti</label>
				<div class="col-md-6">{{ form.participants }}</div>
			</div>
		</div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-md-offset-2"><input type="checkbox" id="checkNinja">Seleziona tutti</div>
            </div>
        </div>
        <hr>
        <div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Mentor</label>
				<div class="col-md-6">{{ form.mentors }}</div>
			</div>
		</div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-md-offset-2"><input type="checkbox" id="checkMentor">Seleziona tutti</div>
            </div>
        </div>
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Note</label>
				<div class="col-md-6">{{ form.notes }}</div>
			</div>
		</div>
		<hr>
		<button type="submit" class="btn btn-primary">{{ eventformbutton }}</button></form>
</div>
<!-- /.container -->
