<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load bootstrap3 %}

		{% bootstrap_css %}
		{% bootstrap_javascript %}
		
		<script src="{% static 'jquery/jquery-2.1.0.min.js' %}"></script>
		<link rel="shortcut icon" href="{% static 'misc/favicon.ico' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'misc/css/style.css' %}" />

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,700&#038;subset=latin,latin-ext" type='text/css' media='all' />

		{% block additional_head %}{% endblock %}

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="navbar-brand">Dojo</span>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li {% block homeactive %}{% endblock %}>
									<a href="{% url 'engine.views.home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
								</li>
								{% if perms.dojo.view_ninja %}
								<li {% block ninjaactive %}{% endblock %}>
									<a href="{% url 'dojo.views.ninja_list' %}"><span class="glyphicon glyphicon-list"></span> Ninja</a>
								</li>
								{% endif %}
								{% if perms.dojo.view_mentor %}
								<li {% block mentoractive %}{% endblock %}>
									<a href="{% url 'dojo.views.mentor_list' %}"><span class="glyphicon glyphicon-tower"></span> Mentor</a>
								</li>
								{% endif %}
								<li>
									<a href="#contact">Contact</a>
								</li>
							</ul>
							{% if user.is_authenticated %}
							<ul class="nav navbar-nav navbar-right">
								<li id="nav-username">
									<a href="{% url 'profile' slug=user.username %}"> <span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</a>
								</li>
								{% if user.is_staff %}
								<li>
									<a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-cog"></span> Admin</a>
								</li>
								{% endif %}
								<li>
									<a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-off"></span> Logout &nbsp</a>
								</li>
							</ul>
							{% endif %}
							
						</div><!--/.navbar-collapse -->
					</div>
				</nav>
			</div>
			{% block content %}
			{% endblock %}
			<div id="page-footer">
				<div class="container">
					<footer>
						<div class="pull-right">
							<small>2014 - <a href="https://github.com/doc90/Djojo">github</a> - {{ VERSION }}</small>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
